<div class="display-beers">
    {{#each beers}}
    <div class="beers">
        <img class="beer-img" src="{{image_url}}" alt="beer-image">
        <h2> {{name}}</h2>
        <h3> {{tagline}}</h3>
        <p> {{description}}</p>
    </div>
    {{/each}}
</div>