/*
white: #f7f9f9;
light-blue: #2081c3;
dark-blue: #0a2c42;
grey: #bfbfbf;
font-family: Arial, Helvetica, sans-serif;
*/

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer {
    background-color: blue;
    height: 100px;
    clear: both;
    text-align: center;
    color: beige;
}